
  <div class="profile-container">
    <div class="row">
      <%= render :partial => 'home/notify_employee' %>
    </div></div>
</div>






<style type="text/css">
  body{
    background-color:#ccc;
    font-family: 'Montserrat', sans-serif;
  }
  .page-header{
    background-color:#0e2f44;
    height:100px;
    margin:0px;
  }
  .profile-container{
    width:40%;
    margin-left: 5%;
    background-color:#fff;
    padding:30px;
    margin:auto;
    height:auto;
  }
  .user-name{
    color:#0e2f44;
    font-weight:bold;
  }
  .user-mail{
    color:#858585;
  }
  .user-company{
    font-weight:bold;
    color:#5ad45c;
  }.more-info{
     background-color:#e5e5e5;
     border-bottom:#ccc 1px solid ;
   }.todo-links{
      padding:10px;
      border-bottom:1px solid #ccc;

    }
  .todo-links a i{
    margin-right:20px;
  }
  .todo-links a{
    color:#000;
    font-size:16px;
  }

</style>
